
body {
    height: 100vh;
    background: linear-gradient(to top, #fff 10%, rgba(234, 231, 238, 0.4) 90%) no-repeat
}
.cardImg{
    margin: 10px;
    width: 150px;
    height: 200px;

}
.wrapper {
    max-width: 500px;
    height:auto;
    border-radius: 10px;
    margin: 50px auto;
    padding: 30px 40px;
    
}

.navTitle {
    font-weight: bold;
    color: #000000 !important;
  
}

.profile{
    width: 50px;
    height: 50px;
    margin-left: 5px;
    margin-right: 5px;
}

.login{
    display: block;
  margin-left: auto;
  margin-right: auto;
    width: 200px;
    height: 200px;
}
.center{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-left: 0px !important;
   padding-right: 0px !important;
}
.padding{
    padding-left: 1px;
    padding-right: 20px;
    color: rgb(128, 122, 122);
  
}
